{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Portfolio:</h1>
    <p>Total Portfolio Value:</p>
    <p id='totalValue'></p>
    <p><span id='portfolio'>{{session['portfolio']}}</span></p>
    <button class="btn btn-outline-success btn-sm"
        onclick="buyStock('MSFT'); updateAllUserInfo();">Buy Microsoft</button>
    <button class="btn btn-outline-success btn-sm"
        onclick="sellStock('MSFT'); updateAllUserInfo();">Sell Microsoft</button>
</div>
<script type='text/javascript' src='{{url_for("static", filename="index.js")}}'></script>
<script type='text/javascript' src='{{url_for("static", filename="tradeStocks.js")}}'></script>
{% endblock %}
