{% extends 'base.html' %}

{% macro stockPanel(searchResult) %}
    {% set tickerName = searchResult['1. symbol'] %}
    <div class="row">
        <li class="list-group-item">
        <h4>{{searchResult['2. name']}} (
        <a href="/stock/{{searchResult['1. symbol']}}"">
            ${{tickerName}}</a>)</h4>
        <h5>Region: {{searchResult['4. region']}}</h5>
        <h5>Currency: {{searchResult['8. currency']}}</h5>
        <button type="button" class="btn btn-outline-success btn-sm"
            onclick="buyStock('{{tickerName}}');">Buy</button>
        <button type="button" class="btn btn-outline-success btn-sm"
            onclick="sellStock('{{tickerName}}');">Sell</button>
        </li>
    </div>
{% endmacro %}
{% block body %}
<style>
    .list-group{
        display: inline-flex;
        flex-direction: column;
    }
    .list-group-item{
        flex: 1;
    }
</style>
<div class = "container">
    <h2>Search results for: "<span id="ticker">{{ticker}}</span>"</h2>
    <ul class="list-group">
        {% for result in searchResults['bestMatches'] %}
        {{stockPanel(result)}}
        {% endfor %}
    </ul>
</div>
<script type='text/javascript' src='{{url_for("static", filename="tradeStocks.js")}}'></script>
{% endblock %}
