{% extends 'base.html' %}
{% block body %}
<style>
    #priceHistoryGraph {
        border : 1px solid black;
    }
</style>
<div class='container'>
    <div class="row">
    <div class='col-2'>
        <h1 id='tickerHeader'>{{tickerSymbol}}</h1>
        <br>
        <h4>Latest Quote:</h4>
        <br>
        <p><b>Price</b>: $<span id='stockPrice'> </span></p>
        <p><b>High:</b>  $<span id='stockHigh'> </span></p>
        <p><b>Low:</b> $<span id='stockLow'> </span></p>
        <p><b>Percent Change:</b>  <span id='stockChange'> </span></p>
        <button class="btn btn-success"
            onclick="buyStock('{{tickerSymbol}}'); updateAllUserInfo();">
            Buy ${{tickerSymbol}}</button>
        <br><br>
        <button class="btn btn-success"
            onclick="sellStock('{{tickerSymbol}}'); updateAllUserInfo();">
            Sell ${{tickerSymbol}}</button>
    </div>
    <div class="col-10">
        <canvas id='priceHistoryGraph' height="50" width="100"></canvas>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script src='{{url_for("static", filename="stockSummary.js")}}'></script>
</div>
{% endblock %}
